<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

      <button id=work >Random fact of the click</button>

</body>
</html>
<script type=text/javascript>
    $(function() 
    {
      $('#work').bind('click', function() 
      {
        $.getJSON('/rpc', 
        {
          de: 'work',
          params: 'it works'
        }, function(data) 
        {
          alert(data.result.msg);
        });
        return false;
      });
    });
  </script>